@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.saved-projects-container {
    margin-top: 100px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.saved-projects-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 2.5rem;
  font-weight: 600;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
    margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-thumbnail {
  background: #f0f0f0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-icon {
  font-size: 48px;
  color: #888;
}

.project-info {
  padding: 13px;
  color: #555;
}

.project-info h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.project-info p {
  margin: 5px 0;
  font-size: 14px;
}

.delete-button {
  background: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  margin: 10px;
  align-self: flex-end;
  transition: background 0.2s;
}

.delete-button:hover {
  background: #e60000;
}
